@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');

.App {
  text-align: center;
  font-family: 'Nanum Myeongjo', serif;
  display: inline-block;
  width: 100%;
  height: 300px;
  background-color: rgba(255, 217, 147, 0.699);
}

* {
  box-sizing: border-box;
}

.Main {
  width: 94%;
  height: 100%;
  display: inline-block; 
  float: right;
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
}

.Logo {
  font-family: 'Oleo Script Swash Caps', cursive;
  color: #ff6600;
  margin-top: 10px;
}
